body{
	background-color: #f5f5f2;
}

input#search{
    margin: 25px 0;
}

.song-img{
    width: 110px;
}

.preview-song {
    margin: 15px 0;
}

.media-heading {
    margin-bottom: 0;
    font-weight: bold;
}

audio{
	width: 100%;
}